.b-navigation{    
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    min-height: 64px;    
    .nav{
        font-size: 14px;
        .nav-link {
            text-transform: uppercase;
            margin: auto 4px;
            &.active{
                @include opensans_bold;
            }
        }
    }
}

.landpage-header{
    @include opensans_light; 
    background-size: cover;
    background-position: center center;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 420px;
    color: white;
    padding: 48px 8px;
    user-select: none;
    .title{
        font-size: 36px;
        text-align: center;
        margin-top: 72px;
    }
    .devices{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 24px;
        margin: auto;
        img{
            margin-top: 64px;
        }
        small{
            display: block;
            margin-top: -24px;
            text-shadow: 0px 0px 5px transparentize($color: #000000, $amount: 0.5);
        }
    }
}

@include media-breakpoint-down(sm) {
 .landpage-header{
     height: 240px;
     .title{
         @include opensans_bold;
         font-size: 24px;
         padding: 0px 24px;
         margin-top: 8px;
     }
     .devices{
         display: none;
     }
 }   
}