.b-navigation{    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    min-height: 64px;
    z-index: 2;
    .nav{
        font-size: 14px;
        .nav-link {
            // color: white;
            text-transform: uppercase;
            margin: auto 4px;
            &.active{
                // color: white;
                @include opensans_bold;
            }
        }
    }
}

.landpage-header{
    @include opensans_light; 
    position: relative;
    background-size: 85%;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;    
    height: 520px;
    color: white;
    padding: 86px 8px 48px;
    user-select: none;
    .title{
        font-size: 48px;
        margin-top: 86px;    
    }
    .subtitle{
        font-size: 21px;
        color: #f4f4f4;
        b{
            @include opensans_bold;
        }
    }
    .device{
        max-width: 90%;
        margin-top: 0px;
        margin-right: -16px;
    }
}

@include media-breakpoint-down(lg) {
    .landpage-header{
        background-size: cover;
        height: 360px;
        .title{
            font-size: 32px;
            margin-top: 64px;
        }
        .subtitle{
            font-size: 16px;
        }
        .device{
            max-width: 85%;
            margin-top: -24px;
        }
    }    
}

@include media-breakpoint-down(sm) {
 .landpage-header{
     background-size: cover;
     height: 240px;
     .device-col{
         display: none;
     }
     .title{
         font-size: 24px;
         padding: 0px 24px;
         margin-top: 8px;
         text-align: center;
     }
     .subtitle{
         font-size: 14px;
         margin: 8px 0px;
     }
     .devices{
         display: none;
     }
 }   
}