body{
    @include opensans_regular;
    background-color: $bg-color;
}

.paper{
    background: #fff;
    box-shadow: 0px 15px 15px transparentize($color: #000000, $amount: 0.78);
    margin: 24px auto 48px;
}

section{    
    padding: 48px 48px;
    &.inverse{
        background-color: #000000;
        padding: 48px 48px;
        color: white;
    }
    .gray{
        background-color: gray;
    }
    &.green{
        padding: 24px 48px;
        background-color: $primary-color;
    }
}

.inverse{
 background-color: #000000;
 color: white;   
 padding: 24px 24px;
}

footer{
    background-color: #222;
    color: transparentize($color: white, $amount: .35);
    padding: 48px 48px;
    .heading{
        text-align: left;
        color: white;
        &::after{
            margin: 22px 0px 30px;
        }
    }
    .nav{
        margin-bottom: 24px;
    }
    .nav .nav-link{
        color: transparentize($color: white, $amount: .35);
        padding: 0.5rem 0;
    }
}