body{
    @include opensans_regular;
    background-color: $bg-color;
}

.paper{
    background: #fff;
    box-shadow: 0px 15px 15px transparentize($color: #000000, $amount: 0.78);
    margin: 24px auto 48px;
}

section{    
    padding: 148px 48px;
    &.inverse{
        background-color: #000000;
        padding: 48px 48px;
        color: white;
    }
    &.gray{
        background-color: gray;
    }
    &.blue{
        padding: 48px 48px;
        background-color: $seciton-text-color;
    }
    &.services{
        p{
            font-size: 14px;
            text-align: left;
            color: #f4f4f4;
            margin: 0px auto;
        }
        .service{
            margin: 32px 0px;
        }
        .icon{
            font-size: 36px;
        }
    }
    form{
        margin: 24px 0px;
        padding: 0px 64px;
    }
}

@include media-breakpoint-down(sm) {
    section {
        padding: 92px 48px;
        form{
            margin: 24px 0px;
            padding: 0px;
        }
    }
}

.inverse{
 background-color: #000000;
 color: white;   
 padding: 24px 24px;
}

