section{
    @include opensans_regular;
}

h1, h2, h3{    
    @include opensans_regular;
}

h4{
    @include opensans_bold;
    text-transform: uppercase;
    font-size: 18px;
}

p{
    margin: 24px auto;
}

.heading{
    text-transform: uppercase;
    text-align: center;
    &::after{
        content: "";
        display: block;
        height: 2px;
        width: 50px;
        background-color: $primary-color;
        margin: 22px auto 30px;
    }
}

.count{
    font-size: 36px;
    line-height: 36px;
    small{
        font-size: 16px;
        opacity: .9;
        vertical-align: top;
    }
}

@include media-breakpoint-down(md) {
    .count{
        font-size: 24px;
        small{
            font-size: 10px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .count{
        font-size: 36px;
        small{
            display: block;
            font-size: 18px;
        }
    }
}

section{
    h3, p{
        @include opensans_regular;
        color: $seciton-title-color;
        text-align: center;
    }

    p{
        @include opensans_regular;
        text-align: center;
    }

    h3{
        font-size: 36px;
    }
    
    p{
        font-size: 18px;
        color: $seciton-text-color;
    }
}